/* Linking Accounts Submit Button */ 
.auth0-lock.auth0-lock .auth0-lock-submit {
    border: 0;
    background-color: #000066 !important;
    padding: 14px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}

/* Changing "Continue" to "Link My Accounts" */
#label-value {
    content: "Link My Accounts"
}

/*Adding stac labs logo */

#LogoBadge {
    content:url("https://static1.squarespace.com/static/61e97ea55ed1f552e4cabf44/t/630ccc41cc5a2536462ac699/1661783105156/stac_full_whitespace+%281%29.png");
}
